# Gradle
.gradle/
build/
!gradle-wrapper.jar
gradle-app.setting
.gradletasknamecache

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.log
*.jar
!gradle-wrapper.jar

# Eclipse
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
